*{
 color:red;
}

 





p{
color: #990000;
  background: color #ffa600;
  text-align: center;
font-size: 30px;
}

 h1{
 
  background-color: hsl(200, 70%, 50%);
  color: hsl(0, 0%, 100%);

 }
 
 .One-1{color: #990000;
background: color #ffa600;
text-align: center;
font-size: 30px;
   
 }
 
.two-2{background-color: hsl(2, 70%, 50%);
color: hsl(0, 0%, 100%);
 
}

#Three-3{color: #990000;
background: color #ffa600;
text-align: center;
font-size: 30px;
 
}

#Four-4{background-color: hsl(400, 70%, 50%);
color: hsl(0, 0%, 100%);
 
 
}

body p{color: #990000;
background: color #ffa600;
text-align: center;
font-size: 30px;
 
}
